/* created by tcleyman */

/*
this makes icon invisible on top right */

.tester1 {
      display: none;
      visibility: hidden;
    z-index: 0;
      } 


.iconbigger {
top: 5px;
}

/*
following moves caroussel a bit up
*/
.putlower{
position: relative;
top:50px;
}

.carousel-inner{
margin: auto;
}

.carousel-inner > .item > img {
margin: auto;
/*position: absolute;
top: 0px;*/
/*left: 0;*/
/*
    always fill full width of browser
    */
/*min-width: 100%;*/
/*height: auto;*/
height: 100%;
} 
/*numbers are now just an estimate, no longer calculation as else image is too big
/* 
*/
/* default is 200 px for very small devices */
.carousel-inner > .item
{
height: 150px;
}

@media all and (max-width: 767px) {          
/*
Here I undo what is done with a col, I set the pic back to full width of the screen
    */
    .changecol{
       /* margin-left: -15px;
        margin-right: -15px;*/
        padding-right: 0px;
        padding-left: 0px;
    min-width:100%;
    }
        
   /* .changecarousel{
         margin-left: -15px;
        margin-right: -15px;
         padding-right: 0px;
        padding-left: 0px;
        
    left:0;
    min-width:100%;
        }*/
    
    .putlower{width:100%;
    margin:0;}
    
    .carousel-inner > . item > img {
     margin-left: -15px;
        margin-right: -15px;
        position: absolute;
    top: 50px;
    left:0;
    min-width:100%;
    height: auto;
    }
    
    
}
/*put image a bit to the left */


@media (min-width : 340px) {
.carousel-inner > .item
    {height: 250px;
    }
}
/*do one in between*/

@media (min-width : 480px) {
.carousel-inner > .item
    {height: 275px;
    }
}
/*2,25*255= 
*/
@media (min-width : 768px) {
.carousel-inner > .item
    {height: 275px;
    }
    

/*    .bigscreen{
top:-60px;
}    
}*/

@media (min-width : 980px) {
.carousel-inner > .item
    {height: 275px;
    }
}

@media (min-width : 1200px) {
.carousel-inner > .item
    {height: 275px;
    }
}

.tpad{
    padding-top: 10px;
}

/*for image*/
.ft_space{padding: 0 10px;
}

/*limoen: 85ec91*/
hr {
    border-top: 1px solid #e5e5e5;
}

/*
test to have bar at top but as big as page
*/
/*@media all and (min-width: 320px) {
  .navbar-fixed-width {
    width: 600px;
    margin-left: auto;
    margin-right:auto;
 }
}*/
/*
from 480 I will go full width with menu bar and pics 
this is also the moment I'll show the menu button
*/



@media all and (min-width: 768px) {
    
    .tester1 {
      display: block;
      visibility: inherit;
           z-index: 1090;
      } 
    
  .navbar-fixed-width {
    width: 720px;
    margin-left: auto;
    margin-right:auto;
 }
    
    .textsmaller{
         display: none;
      visibility: hidden;
    }
}

@media all and (min-width: 992px) {
  .navbar-fixed-width {
    width: 940px;
    margin-left: auto;
    margin-right:auto;
  }

}

@media all and (min-width: 1200px) {
  .navbar-fixed-width {
    width: 1140px;
    margin-left: auto;
    margin-right:auto;
  }
}

/*

need to override:
body-bg: #ebe4db
@navbar-default-color: #3c453c
@navbar-default-link-color: #3c453c

@navbar-default-link-active-color: #B0FC23
@navbar-default-link-hover-color: #9fd935


@navbar-default-bg #5c5454
@jumbotron-color
@jumbotron-bg
@navbar-default-link-color
@navbar-default-link-hover-color


highlight: #B0FC23
limoen groen
#9fd935
*/